*{
  box-sizing: border-box;
}
body {
  background-color: #f6efd1;
  color: #0f0c0c
}
main {
  max-width: 360px;
  margin: 0 auto;
}
h1{
  text-align: center;
  color: #040404;
  margin: 0;
}
form {
  margin-top: 20px;
}
form input {
  width: 100%;
  background-color: transparent;
  color:#040404;
  border: 2px solid #ffc8dd;
  padding: 2px 5px;
  border-radius: 5px;
}
form input[type="datetime-local"]{
  color:#040404
}
form div.basic{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
form button {
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(202, 172, 172);
}
div.transactions {
  margin-top: 10px;
}
div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid black
}
div.transaction:first-child {
  border-top: 0;
}
div.transaction div.name {
  font-size: 1rem;
}
div.transaction div.description {
  font-size: .7rem;
  color: #888;
}
div.right {
  text-align: right;
}
div.price.green{
color: green
}
div.price.red{
color: red;
}
div.transaction div.datetime{
  font-size: .7rem;
  color:#888
}
